<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shipper_app_new">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDl3HXWngkUA1yFkSXDeXSzu_3KyPkH810"/>
    </application>
</manifest>
